---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
---

<Layout title="Company">
  <Container>
    <h1>Company</h1>
    <p>Welcome to the Company page.</p>
  </Container>
</Layout>
