---
import Contactform from "@/components/contactform.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Hero from "@/components/hero.astro";
import GlobalBranch from "@/components/GlobalBranch.astro"; // Import GlobalBranch component

import contactImage from "@/assets/about/hero-2-5.png"; // Import the image
---

<Layout title="Contact">
  <Hero title="Contact" />
  <Container>
    {/* Breadcrumb Section - Inlined */}
    <div class="mt-4 mb-6"> {/* Added mb-6 for spacing below breadcrumb */}
      <nav aria-label="breadcrumb">
        <ol class="flex space-x-2 text-gray-600">
          <li><a href="/" class="hover:underline">Home</a></li>
          <li>/</li>
          <li>Contact</li>
        </ol>
      </nav>
    </div>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-6xl mt-16"> {/* Changed max-w-4xl to max-w-6xl and grid-cols-2 to grid-cols-3 */}
      <div class="md:col-span-2 bg-white p-6 rounded-lg shadow-lg"> {/* Form takes 2/3 width and has a container with elevation */}
        <Contactform />
      </div>
      <div class="md:col-span-1"> {/* Image takes 1/3 width */}
        {/* Placeholder for image - replace with your actual image tag */}
        <img src={contactImage.src} alt="Contact us" class="w-full h-auto rounded-lg shadow-md object-cover aspect-square"/>
        {/* Removed Get in Touch section from here as it was part of the previous layout logic */}
      </div>
    </div>
  </Container>

  {/* Spacing and Google Maps Embed */}
  <div class="my-12"> {/* Added margin top and bottom for spacing */}
    <div class="container mx-auto px-4">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28882.191920999423!2d75.830063!3d25.193981!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396f9b452eb94315%3A0xfac7bb42d86d2522!2sKay%20cee%20energy%20%26%20infra%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1749586551299!5m2!1sen!2sin" 
        width="100%" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        class="rounded-lg shadow-md">
      </iframe>
    </div>
  </div>

  <GlobalBranch />

</Layout>
