---
import bgImage from "@/assets/bg-1.jpg";
const { title } = Astro.props;
---

<div
  class="relative w-full h-[400px] bg-cover bg-center"
  style={`background-image: url('${bgImage.src}')`}>
  <div class="absolute inset-0 before:absolute before:inset-0 before:bg-black before:opacity-40 after:absolute after:inset-0 after:bg-black after:opacity-40 w-full h-full"></div>
  <div class="absolute inset-0 flex items-center justify-center">
    <h1 class="text-5xl font-bold text-white">{title}</h1>
  </div>
</div>
